.DS_Store
**/DS_Store
.vscode/*
RAM analysis/states/*
RAM analysis/predict.json
battle_ai/state_files/*
battle_ai/state_files/processed_logs/*
battle_ai/state_files/battleStateForShowdown/*
battle_ai/state_files/battleStatesFromShowdown/*
battle_ai/state_files/battleStatesFromShowdownJSON/*
battle_ai/backprop_ai/build/processor.o
get_battle_data/old_logs/*
get_battle_data/raw_logs/*
get_battle_data/unused_logs/*
navigator/map_cache/*
battle_ai/backprop_ai/network/__pycache__/*.pyc
